# تلگرام
TELEGRAM_BOT_TOKEN=8187715324:AAEfVuuYLNY0l1SuKE-hEJv5uC2wtMuBeok

# زرین‌پال
MERCHANT_ID=d8b8d60f-da7c-4325-90a1-1acdd6dc4900
CALLBACK_URL=https://zarinpal.com/callback

# پشتیبانی
SUPPORT_PHONE=+9899397793979
SUPPORT_USERNAME=@capitan_6ah

# ادمین
ADMIN_CHAT_ID=162062502